<!doctype html>
<html ng-app xmlns="http://www.w3.org/1999/html">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="beeline.js"></script>
</head>
<body>
    <div ng-controller="BeelineController">
      <label>Week Ending <i>Hint: Pick Sunday</i></label><input type="date" ng-model="week_ending"/><button ng-click="addTimecard(week_ending)">Add Timecard</button>
      <hr/>
      <!--<form ng-submit=enterTime()>-->
        <table>
          <tr align="center"><td>Name</td><td>GUID</td><td>Total<br/>Hours Needed</td><td>This week<br/>Hours Worked</td><td>Hours to Enter</td><td>Hours Submitted</td><td></td></tr>
          <tr align="center" ng-show="has_timecard_for(consultant, week_ending)" ng-repeat="consultant in consultants"><td>{{consultant.last_name}}</td><td>{{consultant.beeline_guid}}</td><td>{{consultant.hours_needed}}</td>
            <td ng-repeat="timecard in consultant.timecards | filter:week_ending">{{timecard.hours_needed}}</td>
            <td ng-repeat="timecard in consultant.timecards | filter:week_ending"><input type=number ng-model="timecard.hours_to_enter"/></td>
            <td ng-repeat="timecard in consultant.timecards | filter:week_ending">{{timecard.hours_submitted}}</td>
            <td ng-repeat="timecard in consultant.timecards | filter:week_ending"><button ng-click="enterTime(consultant.beeline_guid, week_ending, timecard.hours_needed)">Enter Time</button></td>
          </tr>
        </table>
        <!--<input class="btn-primary" type=submit value="Enter Time"/>-->
      <!--</form>-->
    </div>
</body>
</html>
