<!doctype html>
<html ng-app xmlns="http://www.w3.org/1999/html">
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      <script src="consultant.js"></script>
    </head>
    <body>
        <div ng-controller="NewConsultantCtrl">
            <h2>New Consultant</h2>
            <form ng-submit="newConsultant()">
            <label>First Name:</label>
            <input type="text" ng-model="first_name" placeholder="First Name"/>
            <label>Last Name:</label>
            <input type="text" ng-model="last_name" placeholder="Last Name"/>
              <br/>
              <label>Roles:</label>
              <label>DEV</label><input type=checkbox ng-model="role_dev"/>
              <label>QA</label><input type=checkbox ng-model="role_qa"/>
              <label>BA</label><input type=checkbox ng-model="role_ba"/>
              <label>PM</label><input type=checkbox ng-model="role_pm"/>
              <label>Beeline GUID</label><input type=text ng-model="beeline_guid"/>
              <label>Hours Needed</label><input type=number ng-model="hours_needed"/>
              <input class="btn-primary" type=submit value="Add"/>
            </form>
            <hr/>
            <ul class="unstyled">
              <li ng-repeat="consultant in consultants">
                {{consultant.first_name}} {{consultant.last_name}} {{consultant.roles}}
              </li>
            </ul>
        </div>
    </body>
</html>