div
{
    font-family: "Open Sans", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica Neue", Arial, sans-serif;
    font-size: 8pt;
}

@font-face {
    font-family: 'Marydale';
    src: url("/fonts/marydale/marydale-webfont.eot");
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    margin: 0 0 20px 0;
    font-family: Marydale, serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-rendering: optimizelegibility;
    line-height: 1.8em;
}

th {
    padding: 0px 10px;
    text-align: center;
}

th.report_total {
    text-align: right;
    font-weight: bold;
}

td {
    padding: 0 10px;
    text-align: center;
}

tr.even {
    background-color: #DDE0B6;
}

.FAILED {
    background-color: lightcoral;
}

.UNSUBMITTED {
    background-color: whitesmoke;
}

.SUBMITTED {
    background-color: lightgreen;
}

.SUBMITTING {
    background-color: lightblue;
}

.SELECTED {
    background-color: lightblue;
}
