<!doctype html>
<html ng-app xmlns="http://www.w3.org/1999/html">
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      <script src="script/consultant.js"></script>
    </head>
    <body>
        <div ng-controller="ConsultantController">
            <h2>New Consultant</h2>
            <form ng-submit="addConsultant()">
              <table>
                <tr>
                  <td><label>Email ID</label><input type="text" ng-model="new_consultant.id" placeholder="Email ID"/></td>
                  <td><label>First Name</label><input type="text" ng-model="new_consultant.first_name" placeholder="First Name"/></td>
                  <td><label>Last Name</label><input type="text" ng-model="new_consultant.last_name" placeholder="Last Name"/></td>
                </tr>
                <tr>
                  <td><label>Beeline GUID</label><input type=text ng-model="new_consultant.beeline_guid" placeholder="Beeline GUID"/></td>
                  <td><label>First Billable Date</label><input type=date ng-model="new_consultant.first_billable_date"/></td>
                  <td><label>Rolloff Date</label><input type=date ng-model="new_consultant.rolloff_date"/></td>
                </tr>
                  <tr>
                      <td>
                          <label>Project</label>
                          <select ng-model="new_consultant.project">
                              <option ng-repeat="project in projects">{{project}}</option>
                          </select>
                      </td>
                      <td>
                          <label>Grade</label>
                          <select ng-model="new_consultant.grade">
                              <option ng-repeat="grade in grades">{{grade}}</option>
                          </select>
                      </td>
                  </tr>
              </table>
            <input class="btn-primary" type=submit value="Add"/>
            </form>
            <hr/>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Beeline GUID</th>
                    <th>First Billable Date</th>
                    <th>Rolloff Date</th>
                    <th>Project</th>
                    <th>Grade</th>
                </tr>
                <tr ng-repeat="consultant in consultants">
                    <td>{{consultant.id}}</td>
                    <td>{{consultant.last_name}}</td>
                    <td>{{consultant.first_name}}</td>
                    <td><a href="consultant/detail#?beeline_guid={{consultant.beeline_guid}}">{{consultant.beeline_guid}}</a>
                    </td>
                    <td>{{consultant.first_billable_date}}</td>
                    <td>{{consultant.rolloff_date}}</td>
                    <td>{{consultant.project}}</td>
                    <td>{{consultant.grade}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>