<!doctype html>
<html ng-app xmlns="http://www.w3.org/1999/html">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="script/timecard.js"></script>
</head>
<body>
<div ng-controller="TimecardController">
  <label>Week Ending <i>Hint: Pick Sunday</i></label><input type="date" ng-model="week_ending"/>
  <button ng-click="addTimecard(week_ending)" ng-hide="timecardExists(week_ending)">Add Timecard</button>
  <hr/>
  <!--<form ng-submit=enterTime()>-->
  <table ng-show="timecardExists(week_ending)">
    <tr align="center">
      <td>Name</td>
      <td>GUID</td>
      <td>Hours to Enter</td>
      <td>Remaining Hours Needed</td>
      <td>Hours Submitted</td>
      <td></td>
    </tr>
    <tr align="center" ng-repeat="consultant in consultants">
      <td>{{consultant.last_name}}</td>
      <td>{{consultant.beeline_guid}}</td>
      <td ng-repeat="timecard in consultant.timecards | filter:week_ending">
        <input type=number ng-model="timecard.hours_to_enter"/></td>
      <td ng-repeat="timecard in consultant.timecards | filter:week_ending">{{consultant.hours_needed -
        timecard.hours_to_enter}}
      </td>
      <td ng-repeat="timecard in consultant.timecards | filter:week_ending">{{timecard.hours_submitted}}</td>
      <td ng-repeat="timecard in consultant.timecards | filter:week_ending">
        <button ng-click="enterTime(consultant.beeline_guid, week_ending, timecard.hours_to_enter)">Enter Time</button>
      </td>
    </tr>
  </table>
  <!--<input class="btn-primary" type=submit value="Enter Time"/>-->
  <!--</form>-->
</div>
</body>
</html>
