<div>
    <h2>Enter Time</h2></p>
    <label>Week Ending <i>Hint: Pick Sunday</i></label><input type="date" ng-model="week_ending"
                                                              ng-change="weekEndingChanged(week_ending)"/>
    <button ng-click="addTimecard(week_ending)" ng-hide="timecardExists(week_ending)">Add Timecard</button>
    <hr/>
    <button ng-show="timecardExists(week_ending)" ng-click="submitTimecards()" ng-disabled="submitting">Submit Timecards</button>
    <table ng-show="timecardExists(week_ending)">
        <tr align="center">
            <th>Name</th>
            <th>GUID</th>
            <th>Project</th>
            <th>Hours to Enter</th>
            <th>Additional Hours Needed</th>
            <th>Hours Submitted</th>
            <th>State</th>
            <th></th>
        </tr>
        <tr ng-repeat="timecard in timecards | orderBy: 'last_name'" ng-class="timecard.state">
            <td ng-click="toggleSelected(timecard)">{{timecard.first_name}} {{timecard.last_name}}</td>
            <td ng-click="toggleSelected(timecard)">{{timecard.beeline_guid}}</td>
            <td ng-click="toggleSelected(timecard)">{{timecard.project}}</td>
            <td>
                <input type=number max=80 maxlength=2 style="width: 36px;" ng-model="timecard.hours_to_enter"/>
            </td>
            <td ng-click="toggleSelected(timecard)">{{timecard.hours_needed - timecard.hours_to_enter}}</td>
            <td ng-click="toggleSelected(timecard)">{{timecard.hours_submitted}}</td>
            <td ng-click="toggleSelected(timecard)">{{timecard.state}}</td>
        </tr>
    </table>
</div>
