<div>
  <h2>{{consultant.first_name}} {{consultant.last_name}}</h2>
    <table>
        <tr align="right"><th>First Billable Date</th><td>{{consultant.first_billable_date}}</td></tr>
        <tr align="right"><th>Rolloff Date</th><td>{{consultant.rolloff_date}}</td></tr>
    </table>
    <br/>
  <table>
    <tr>
      <th>Week Ending</th>
      <th>Worked</th>
      <th>Submitted</th>
    </tr>
    <tr ng-repeat="timecard in consultant.timecards">
      <td>{{timecard.week_ending}}</td>
      <td>{{timecard.hours_worked}}</td>
      <td>{{timecard.hours_submitted}}</td>

    </tr>
  </table>
</div>
